body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000; /* Jet black background */
}

.iphone-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    position: relative;
}

.iphone-svg {
    width: 100%;
    height: 100%;
    max-width: 45vw; /* Adjust this value as needed */
    max-height: 90vh;
    object-fit: contain;
}

.video-container {
    position: absolute;
    top: 51%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 81%;
    height: 0;
    padding-bottom: calc(79% * 2.19); /* Increased from 2.16 to 2.17 */
    border-radius: 40px;
    overflow: hidden;
}

.iphone-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Adjust max-width for smaller screens if needed */
@media (max-width: 768px) {
    .iphone-svg {
        max-width: 90vw;
    }
}
